In [1]:
import pandas as pd
import numpay as np

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
13726,4583,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,2613800,São Vicente Ferrer,26,PE,33,F,0.0,...,NaN,A,A,B,B,A,A,A,A,A
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,F,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13728,4585,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,3303203,Nilópolis,33,RJ,36,M,1.0,...,5.0,A,A,A,A,D,A,A,A,D
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,M,0.0,...,NaN,A,A,A,A,B,A,A,A,A

In [4]:
df_enem = df[['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO','NU_NOTA_MT']]

In [5]:
df_enem = df_enem.fillna(0)

In [6]:
df_enem

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,520.0,399.4
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,580.0,459.8
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,0.0,0.0,0.0,0.0,0.0
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,0.0,0.0,0.0,0.0,0.0
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
13725,aadf671ef8c1c6efa42e69432093ab83c17a52ac,438.2,419.7,394.5,440.0,403.2
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,423.8,557.9,533.0,560.0,452.4
13727,5354503700ecf2388f68990435390b6e1ad454ee,460.5,528.9,569.3,600.0,398.0
13728,c7a9e94a42bd76b7978f13c013a61702e36cc42c,422.5,621.7,569.0,460.0,386.6
13729,0af8939c470a600b30bdaa80375ee0db848b0e35,488.7,575.3,565.9,520.0,428.9

In [7]:
peso_mt = 3
peso_cn = 2
peso_lc = 1.5
peso_ch = 1
peso_redacao = 3

In [8]:
media_ponderada = ((df_enem.NU_NOTA_CN * peso_cn) + (df_enem.NU_NOTA_CH * peso_ch) + (df_enem.NU_NOTA_LC * peso_lc) + \
(df_enem.NU_NOTA_REDACAO * peso_redacao)) / (peso_ch + peso_cn + peso_lc + peso_redacao)

In [9]:
#incluindo a nova coluna
df_enem['NU_MEDIA_PONDERADA'] = media_ponderada

In [10]:
df_enem

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT,NU_MEDIA_PONDERADA
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,520.0,399.4,506.640000
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,580.0,459.8,550.880000
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,0.0,0.0,0.0,0.0,0.0,0.000000
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,0.0,0.0,0.0,0.0,0.0,0.000000
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...
13725,aadf671ef8c1c6efa42e69432093ab83c17a52ac,438.2,419.7,394.5,440.0,403.2,427.713333
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,423.8,557.9,533.0,560.0,452.4,518.000000
13727,5354503700ecf2388f68990435390b6e1ad454ee,460.5,528.9,569.3,600.0,398.0,547.180000
13728,c7a9e94a42bd76b7978f13c013a61702e36cc42c,422.5,621.7,569.0,460.0,386.6,493.360000
13729,0af8939c470a600b30bdaa80375ee0db848b0e35,488.7,575.3,565.9,520.0,428.9,528.206667

In [32]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import utils

In [33]:
x = df_enem[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO','NU_MEDIA_PONDERADA']].values
y = df_enem['NU_NOTA_MT'].values

In [34]:
def imprime_resultados(resultados):
    media = resultados['test_score'].mean()
    desvio_padrao = resultados['test_score'].std()
    print("Acurácia com cross validation = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, media + 2 * desvio_padrao)*100)
    print(utils.multiclass.type_of_target(y))
    print(utils.multiclass.type_of_target(y.astype('int')))
    print(utils.multiclass.type_of_target(training_scores_encoded))

In [27]:
SEED = 158020
np.random.seed(SEED)

In [28]:
cv = KFold(n_splits=10)
modelo = DecisionTreeClassifier(random_state=1986, criterion='gini', max_depth=3)
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y)

In [30]:
resultados = cross_validate(modelo, x, y, cv = cv, return_train_score=False)
imprime_resultados(resultados)

Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]Acurácia com cross validation = [nan, nan]
continuous
multiclass
multiclass

/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)
/home/washington/.virtualenvs/surtur/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Unknown label type: 'continuous'

  FitFailedWarning)